PORT=8080
DATABASE_URL=postgresql://user:password@localhost:5432/ceguyyydrive
# Neon example: postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require

JWT_SECRET=super_secret_key
JWT_REFRESH_SECRET=super_refresh_secret

TENCENT_SECRET_ID=your_secret_id
TENCENT_SECRET_KEY=your_secret_key
TENCENT_CHAT_SDK_APP_ID=your_sdk_app_id
TENCENT_CHAT_SECRET_KEY=your_secret_key
COS_REGION=ap-guangzhou
COS_BUCKET=ceguyyydrive-123456789

CORS_ORIGIN=http://localhost:5173

CAPTCHA_APP_ID=
CAPTCHA_SECRET_KEY=
