openapi: 3.1.0
info:
  title: CeguyyyDrive API
  version: 1.0.0
  description: Enterprise cloud storage platform API
servers:
  - url: https://api.ceguyyydrive.com/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Local development server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
security:
  - bearerAuth: []
paths:
  /auth/login:
    post:
      summary: Login via Tencent CAM
      description: Exchanges CAM credentials for a JWT token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                camToken:
                  type: string
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
        '401':
          description: Unauthorized
          
  /folders:
    post:
      summary: Create Folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                parentId:
                  type: string
                  format: uuid
                  nullable: true
      responses:
        '201':
          description: Folder created
  
  /files/upload-session:
    post:
      summary: Initialize an Upload Session
      description: Returns a Pre-signed URL or STS token for Tencent COS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fileName:
                  type: string
                size:
                  type: integer
                folderId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadId:
                    type: string
                  presignedUrl:
                    type: string
